<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>Login</mat-card-header>
        <mat-card-content>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="example-full-width">
                        <mat-label>Usuario:</mat-label>
                        <input matInput placeholder="Usuario" formControlName="email" type="text" />
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-xs">

                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña:</mat-label>
                        <input matInput placeholder="Contraseña" formControlName="password" type="password" />
                    </mat-form-field>

                </div>
            </div>


        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</form>